.menuButton {
    font-size: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top: 15px;
}
.menuButton:hover {
    background-color: #a0a0a0;
    color: black;
    cursor: pointer;
}
.menuButtonActive {
    font-size: 24px;
    border: #f0f0f0;
    background: #a0a0a0;
    margin-top: 15px;
}
.sideMenu {
    background-color: lightgray;
    height: 100vh;

    /* height: auto; */
    width: 150px;

}
